APP_NAME="IKN Forest Parks API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# PostgreSQL Database Configuration
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ikn_parks_db
DB_USERNAME=postgres
DB_PASSWORD=secret

# Session and Cache Options
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BOOTSTRAP_CONTEXT_CACHE_DRIVER=file
CACHE_STORE=database
QUEUE_CONNECTION=database

# Sanctum State Configurations
SANCTUM_STATEFUL_DOMAINS=localhost:3000,127.0.0.1:8000
